@import '../../styles/variables.scss';

.meetup-button {
  button {
    width: 100%;
    height: 52px;
    background: $button-background;
    color: $second-text-color;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .3s;
  }

  &--default {
    button:hover {
      background: $button-background-hover;
      color: $main-text-color;
    }
  }

  &--disabled {
    button {
      background: $button-background-disabled;
      cursor: not-allowed;
    }
  }
}