$background: #E8ECED url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAASCAYAAACNdSR1AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADKSURBVHgBzZHREYIwDIYLB28cBxvgBo4gE+gGuoE4iWwgGzgCIzgCbpBrG3gBWtN6ehyCp2/8L23SP2nuC2MjyaY5csSbQNyP39zXBaTcGFOv1E5pfaIzpbgSdb19uwEgoS6leTAFw04gxMEWIF6Mj3EpARAz9kXAeUbmiFGlZj/KZX9oQeY7sbxaNBOi/NqgtTRsYszzaYooPg/R2jHiMCxU26a91tz1/ZIMuet5lYlV163iIMjZzLeJYT831ofmFrXopThOMZV+AN08m93DDDz+AAAAAElFTkSuQmCC);
$main-text-color: black;
$second-text-color: white;
$grey-text-color: grey;
$border-color: lightblue;

$clock-arrow: black;

$form-background: #73D0F5;

$button-background: #385775;
$button-background-hover: #C9EBFF;
$button-background-disabled: grey;