.meetup-clock {
  width: 130px;
  height: 130px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  &__dial {
    display: flex;
    position: absolute;
    height: inherit;
    width: inherit;

    .bg {
      fill: #73D0F5;
    }

    .sub-bg {
      fill: lightblue;
    }
  }

  &:after {
    background-color: black;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius:50%;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }

  &__time {
    color: black;
    font-size: 40px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 40%;
    user-select: none;
  }

  &__arrow {
    position: absolute;
    transform-origin: bottom;
    bottom: 50%;
    left: 50%;
    z-index: 1;
  }

  &__seconds {
    background-color: black;
    opacity: .5;
    width: 1px;
    height: 46px;
    margin-left:-1px;
  }

  &__minute {
    background-color: black;
    opacity: .5;
    width: 2px;
    height: 46px;
    margin-left:-1px;
  }

  &__hour {
    background-color: black;
    opacity: .5;
    width: 4px;
    height: 39px;
    margin-left:-2px;
  }
}
